@model YuGiOhCards.Models.YuGiOhCard  <!-- El modelo es una sola carta -->

@{
    ViewData["Title"] = "Detalles de la carta";
}

<h1>@Model.Name</h1>
<img src="@Model.CardImages.FirstOrDefault()?.ImageUrl" alt="@Model.Name" />
<p>@Model.Name</p>
<p>Precio: @Model.CardPrices.FirstOrDefault()?.CardMarketPrice</p>

<h2>Descripción:</h2>
<p>@Model.Description</p> <!-- Asegúrate de que 'Description' exista en tu modelo si es necesario -->
