@model YuGiOhCards.Services.CardDetails

@{
    ViewData["Title"] = "Detalles de la carta";
}

<h1>@Model.Name</h1>
<img src="@Model.ImageUrl" alt="@Model.Name" />
<p>@Model.Description</p>

<h2>Imágenes adicionales:</h2>
@foreach (var image in Model.Images)
{
    <img src="@image" alt="Imagen adicional" />
}
