@model List<YuGiOhCards.Services.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Cartas de Yu-Gi-Oh! - Blue-Eyes</h1>

<div>
    @foreach (var card in Model)
    {
        <div>
            <img src="@card.ImageUrl" alt="@card.Name" />
            <h3>@card.Name</h3>
            <p>Precio: @card.Price</p>
            <a href="@Url.Action("Details", "Home", new { cardId = card.Id })">Ver detalles</a>
        </div>
    }
</div>
